body {
  background-image: url("../images/wavy.png");
  background-repeat: repeat;
  background-size: cover;
}
h1 {
  font-family: "Zen Tokyo Zoo", cursive;
  color: #fffbc5;
  font-size: 50px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 3px;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}
h2,
h3 {
  font-family: "Righteous", cursive;
  color: #d54c4c;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
h2 {
  font-size: 36px;
  display: block;
  text-align: center;
  margin: 0 auto;
}
h3 {
  font-size: 55px;
}
.app {
  position: relative;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
p {
  font-family: monospace;
  color: #000000;
  text-align: center;
  font-size: 10;
  display: block;
  padding: 0px;
}

.p-footer {
  font-size: 10px;
  font-family: monospace;
  color: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.para-1 {
  font-size: 12px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #352020;
  padding: 0;
  display: block;
  position: relative;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 525;
}
.para-2 {
  text-align: center;
  max-width: 35px;
  filter: drop-shadow(1px 1px 1px #000);
}
.para-3 {
  margin: 0 auto;
  text-align: center;
}
.card-two {
  background-color: #f7e6cc;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: fit-content;
  border: solid 1px #352020;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgb(0, 0, 0);
}
.card-one {
  position: relative;
  padding: 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: fit-content;
  background-color: #f7ddb4;
  border: solid 1px #352020;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgb(0, 0, 0);
}
.links {
  color: #fff;
}
.links:hover {
  color: #d54c4c;
  cursor: pointer;
}
.container-list {
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #352020;
  text-align: left;
  text-transform: uppercase;
  font-weight: 525;
  list-style: none;
}

.icon {
  filter: drop-shadow(1px 1px 1px #000);
}
